<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="__CSS__mui.min.css" rel="stylesheet" />
    <link href="__CSS__base-index.css" rel="stylesheet" />
    <link href="__PUBLIC__fonts/iconfont.css" rel="stylesheet" />
    <style>

    </style>
</head>
<body>

<ul class="mui-table-view">
    <li class="mui-table-view-cell mui-media">
        <a href="javascript:;">
            <div class="circle-icon circle-icon-green circle-icon-38">
                <span class="iconfont icon-lingshi-copy headicon"style="font-size: 40px!important"></span>

            </div>
            <div class="mui-media-body mediabody" >
                独立小店
                <p class="mui-ellipsis mediabody-text">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
            </div>
        </a>
    </li>

    <li class="mui-table-view-cell mui-media">
        <a href="javascript:;">
            <div class="circle-icon circle-icon-lightyellow circle-icon-38">
                <span class="iconfont icon-yongjin headicon"style="font-size: 40px!important"></span>

            </div>
            <div class="mui-media-body mediabody" >
                销售分红
                <p class="mui-ellipsis mediabody-text">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
            </div>
        </a>
    </li>

</ul>
<p class="notice-text">
    注意按时法撒旦法撒旦发生大法撒旦法撒旦士大夫撒旦
</p>
<a href="" class="ajoin">
    立即加入
</a>



<script src="__JS__jquery.min.js"></script>
<script src="__JS__mui.min.js"></script>
<script type="text/javascript">



</script>
</body>
</html>