<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="__CSS__mui.min.css" rel="stylesheet" />
    <link href="__CSS__base-index.css" rel="stylesheet" />
    <link href="__PUBLIC__fonts/iconfont.css" rel="stylesheet" />
    <style>
        .way{
            font-size: 18px;
            color: #565656;
            padding:15px 0px 15px 15px;

        }

    </style>
</head>
<body>
<p class="way-num">共<span style="color:#FF8C5B;font-size:20px;">16</span>人</p>
<p class="way">我的团队</p>

<div style="padding:5px 15px 5px 25px">
    <div></div>
    <div class="share-group">
        <img src="img/pro.png" class="user-pic"/>
        <p class="p-name">王文帅</p>
    </div>
    <div class="share-group">
        <img src="img/pro.png"class="user-pic"/>
        <p class="p-name">王文帅</p>
    </div>

    <div class="share-group">
        <img src="img/pro.png"class="user-pic"/>
        <p class="p-name">王文帅</p>
    </div>



</div>
<script src="__JS__jquery.min.js"></script>
<script src="__JS__mui.min.js"></script>
<script type="text/javascript">



</script>
</body>
</html>