<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="__CSS__mui.min.css" rel="stylesheet" />
    <link href="__CSS__base-index.css" rel="stylesheet" />
    <link href="__PUBLIC__fonts/iconfont.css" rel="stylesheet" />
    <style>
        .circle-large{
            left: 50%;
            top: 50%;
            margin-left: -153px;
            width: 150px;
            height: 150px;
            margin-top: -45px;
        }
        .fxtop{
            background-color: #FF5B5A;
        }
        .fxcontent {
            padding-top: 20px !important;
        }

    </style>
</head>
<body>
<header class="mui-bar mui-bar-nav fxtop">
    <div class="circle circle-large">
        <div class="circle-icon circle-icon-white circle-icon-large"></div>
        <span class="circle-text" style="font-size: 20px !important;">fasdf</span>
    </div>
    <div class="profit">
        <span style="font-size: 20px;display: block;height: 20px;line-height: 0px;">累计收益</span>
        <span style="font-size: 60px ;display: block;height: 40px;line-height: 40px;">0.01</span>
    </div>

</header>
<div class="mui-content fxcontent white">
    <div class="navicon">

        <div class="circle" onclick="window.location='{:url('Share/order')}'">
            <div class="circle-icon circle-icon-blue">
                <span class="iconfont icon-order headicon"></span>
            </div>
            <span class="circle-text">推广订单</span>
        </div>
        <div class="circle" onclick="window.location='{:url('Share/ways')}'">
            <div class="circle-icon circle-icon-orange">
                <span class="iconfont icon-laba headicon"></span>

            </div>
            <span class="circle-text">开始推广</span>
        </div>
        <div class="circle" onclick="window.location='{:url('Share/setting')}'">
            <div class="circle-icon circle-icon-green">
                <span class="iconfont icon-gerenshezhi headicon"></span>
            </div>
            <span class="circle-text">个人设置</span>
        </div>
        <div class="circle" onclick="window.location='{:url('Share/group')}'">
            <div class="circle-icon circle-icon-pink">
                <span class="iconfont icon-crmtubiao71 headicon"></span>

            </div>
            <span class="circle-text">我的团队</span>
        </div>
        <div class="circle" onclick="window.location='{:url('Share/desc')}'">
            <div class="circle-icon circle-icon-lightyellow">
                <span class="iconfont icon-yongjin headicon"></span>

            </div>
            <span class="circle-text" >佣金详情</span>
        </div>

    </div>



</div>


<script src="__JS__jquery.min.js"></script>
<script src="__JS__mui.min.js"></script>
<script type="text/javascript">



</script>
</body>
</html>