<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="__CSS__mui.min.css" rel="stylesheet" />
    <link href="__CSS__base-index.css" rel="stylesheet" />
    <link href="__PUBLIC__fonts/iconfont.css" rel="stylesheet" />
    <style>

    </style>
</head>
<body>
<p class="way">方法一：二维码推广</p>
<div >
    <img style="width: 100%" src="__PUBLIC__img/way.png"/>
</div>
<div class="qrcode">
    <div style="margin:0 auto;width: 90%;">
        <img  class="code" src="__PUBLIC__img/way.png" />
        <img  class="coder" src="__PUBLIC__img/way.png" />
    </div>
    <div class="clearfloat"></div>
    <p class="code-text">长安指纹 识别图中二维码</p>
</div>
<p class="way">方法二：微信内直接分享</p>
<p>点击微信右上角</p>
<p>通过【发送给朋友】，【分享到朋友圈】推广</p>
<p class="way">方法三：微信内直接分享</p>
<p>我新开了家带小点，快来看看吧<a href="//www.cjcjcj.cn">www.cjcjcj.cn</a></p>

<script src="__JS__jquery.min.js"></script>
<script src="__JS__mui.min.js"></script>
<script type="text/javascript">



</script>
</body>
</html>