{extend name="public/layout"}
{block name="css"}
<link href="__CSS__plugins/switchery/switchery.css" rel="stylesheet">
<link href="__CSS__plugins/iCheck/custom.css" rel="stylesheet">
{/block}
{block name="content"}

    <form class="form-horizontal m-t" action="{:url('save')}" method="post" id="signupForm">
        <div class="form-group">
            <label class="col-sm-3 control-label">父级：{$Think.get.pid}</label>
            <div class="col-sm-8">
                <select class="form-control" name="pid" id="pid">
                    <option value="0">顶级</option>
                    {volist name="list" id="v"}
                    <option value="{$v.id}" {eq name="$v.id" value="$pid"}selected{/eq}>{$v.title}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">菜单名称：</label>
            <div class="col-sm-8">
                <input id="title" name="title" class="form-control" type="text" aria-required="true" aria-invalid="true" class="error">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">链接地址：</label>
            <div class="col-sm-8">
                <input id="name" name="name" class="form-control" type="text" aria-required="true" aria-invalid="false" class="valid">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">图标：</label>
            <div class="col-sm-8">
                <input onfocus="_selectIcon(this);" id="icon" name="icon" class="form-control" type="text" aria-invalid="false" class="valid">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">附加规则：</label>
            <div class="col-sm-8">
                <textarea name="condition" id="condition" rows="5" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">类型：</label>
            <div class="col-sm-8">
                <div class="radio radio-info radio-inline">
                    <input class="i-checks" type="radio" id="inlineRadio1" value="0" name="type" checked="">
                    <label for="inlineRadio1">菜单 </label>
                </div>
                <div class="radio radio-inline">
                    <input class="i-checks" type="radio" id="inlineRadio2" value="1" name="type">
                    <label for="inlineRadio2">节点 </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状态：</label>
            <div class="col-sm-8">
                <input type="checkbox" value="1" class="form-control js-switch" id="status" name="status" checked>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-3">
                <button class="btn btn-primary" type="submit">提交</button>
            </div>
        </div>
    </form>
{/block}
{block name="js"}
<script src="__JS__plugins/validate/jquery.validate.min.js"></script>
<script src="__JS__plugins/validate/messages_zh.min.js"></script>
<script src="__JS__plugins/switchery/switchery.js"></script>
<script src="__JS__plugins/iCheck/icheck.min.js"></script>
<script>
    // checkbox
    var elem = document.querySelector('.js-switch');
    new Switchery(elem,{ color: '#64bd63', secondaryColor: '#f00', jackColor: '#fff'});
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green'
    });
//验证，表单提交
    $().ready(function () {
        var icon = "<i class='fa fa-times-circle'></i> ";
        var rules = {
            title: 'required',
            name: 'required'
        };
        var message = {
            title: icon+'请填写菜单名称',
            name: icon+'请填写链接地址'
        };
        _validateForm('',rules, message);
    });

    //设置图标
    function _selectIcon(ele){
        _layOpenUrl('{:url("icon")}','选择图标');
    }

    function _setIcon(icon){
        $('#icon').val(icon);
    }
</script>
{/block}