<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>千品百汇</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <link href="__CSS__mui.min.css" rel="stylesheet" />
        <link href="__CSS__base-index.css" rel="stylesheet" />
        <link href="__PUBLIC__fonts/iconfont.css" rel="stylesheet" />
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        {block name="css"}{/block}
    </head>
    <body>
        {block name="content"}{/block}
        <script src="__JS__jquery.min.js"></script>
        <script src="__JS__mui.min.js"></script>
        <script>
           // wx.config();
//            wx.ready(function () {
//                var wxShareConfig = _wxShare();
//                wx.onMenuShareTimeline(wxShareConfig);
//                wx.onMenuShareAppMessage(wxShareConfig);
//                wx.onMenuShareQQ(wxShareConfig);
//                wx.onMenuShareWeibo(wxShareConfig);
//                wx.onMenuShareQZone(wxShareConfig);
//            });
//
//            function _wxShare(){
//                return {
//                    title: '微信三级分销',
//                    desc: '快来领钱吧',
//                    link: 'http://qpbh.echainto.com/wx',
//                    imgUrl: 'http://qpbh.echainto.com/static/img/admin_user_logo.jpg',
//                    success: function () {
//                        mui.toast('分享成功');
//                    }
//                }
//            }
        </script>
        {block name="js"}{/block}
    </body>
</html>