<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__CSS__mui.min.css" rel="stylesheet" />
		<link href="__CSS__base-index.css" rel="stylesheet" />
		<link href="__PUBLIC__fonts/iconfont.css" rel="stylesheet" />
		<style>
			
		
	    </style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav fxtop">
		 <div class="circle circle-large">
		     <div class="circle-icon circle-icon-white circle-icon-large"></div>
		     <span class="circle-text">fasdf</span>
		     </div>
		    
			<div class="order-nav"></div>
		</header>
	
		<div class="mui-content fxcontent white">
			<div>
	       <p class="way-num" style="font-size: 20px;padding-top:10px;">查看全部订单></p>
	
	       <p class="way" style="font-size: 20px;">我的订单</p>

	       </div>
		   <br />
		   <ul class="mui-table-view mui-grid-view mui-grid-9">
		   <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
		       <a href="#">
		           <span class="iconfont icon-daifukuan " style="font-size: 24px!important;"></span>
		           <div class="mui-media-body">待付款</div>
		       </a>
		   </li>
		   <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
		       <a href="#">
		           <span class="iconfont icon-hongjiuchengicondaifahuo " style="font-size: 24px!important;"></span>
		          
		           <div class="mui-media-body">待发货</div>
		       </a>
		   </li>
		   <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
		       <a href="#">
		           <span class="iconfont icon-daishouhuo" style="font-size: 24px!important;"></span>
		 
		           <div class="mui-media-body">待收货</div>
		       </a>
		   </li>
		   <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
		       <a href="#">
		           <span class="iconfont icon-tubiao4" style="font-size: 24px!important;"></span>
		           
		           <div class="mui-media-body">购物车</div>
		       </a>
		   </li>
		   <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
		       <a href="#">
		           <span class="iconfont icon-iconfontcaiwu" style="font-size: 24px!important;"></span>
		           
		           <div class="mui-media-body">财务中心</div>
		       </a>
		   </li>
		  
		       </ul>
		   
           <!--<div class="navicon" style="box-shadow:2px 2px 2px red;">
		    	
		     <div class="circle order-border0" >
		     <a href="">
		     <div class="circle-icon circle-icon-blue">
		     </div>
		     <span class="circle-text">fasdf</span>
		     </a>
		     </div>
		      <div class="circle order-border" >
		     <div class="circle-icon circle-icon-orange">
		     </div>
		     <span class="circle-text ">fasdf</span>
		     </div>
		      <div class="circle order-border">
		     <div class="circle-icon circle-icon-green">
		     </div>
		     <span class="circle-text">fasdf</span>
		     </div>
		      <div class="circle order-border2">
		     <div class="circle-icon circle-icon-pink">
		     </div>
		     <span class="circle-text">fasdf</span>
		     </div>
		      <div class="circle order-border2">
		     <div class="circle-icon circle-icon-lightyellow">
		     </div>
		     <span class="circle-text">fasdf</span>
		     </div>
		     <div class="circle order-border1">
		     
		    
		     </div>
		     
		    	
		    </div>

		</div>
		-->
		
	<script src="__JS__jquery.min.js"></script>
    <script src="__JS__mui.min.js"></script>
    <script type="text/javascript">	
	
		
		
	</script>
	</body>
	</html>