<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__CSS__mui.min.css" rel="stylesheet" />
		<link href="__CSS__base-index.css" rel="stylesheet" />
		<link href="__PUBLIC__fonts/iconfont.css" rel="stylesheet" />
		<style>
		
			
	</style>
	</head>
	<body>
     <form class="mui-input-group">
         <div class="mui-input-row">
             <label>收货人</label>
             <input type="text"  placeholder="请输入收货人名字">
         </div>
          <div class="mui-input-row">
             <label>联系电话</label>
             <input type="text"  placeholder="请输入收货人联系电话">
          </div>
             <div style="float: left;width: 24%;margin-left: 15px;margin-top: 10px;">详细地址</div>
             <div style="width:70%;float: left;">
             	<textarea  name="" rows="3" cols="" placeholder="请输入详细地址"></textarea>
             </div>
             <div class="nav" style="float: left;clear: both;"></div>
            <div style="margin: 15px 15px 0px 0px;float: right;">
            <button>保存</button>   
            <button>删除</button>   
            </div>
       
     </form>
    	
    	
    	
    	
    
	
	<script src="__JS__jquery.min.js"></script>
    <script src="__JS__mui.min.js"></script>
    <script type="text/javascript">	
	
		
		
	</script>
	</body>
	</html>